<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>📘 Catálogo de Especies</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>📘 Catálogo de Especies</h1>
    <a href="/">Inicio</a>
</header>
<main>
    <a href="/species/new" class="btn-create">➕ Nueva especie</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre común</th>
            <th>Nombre científico</th>
            <th>Conservación</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${speciesList}">
            <td th:text="${s.id}">1</td>
            <td th:text="${s.commonName}">Nombre</td>
            <td th:text="${s.scientificName}">Científico</td>
            <td th:text="${s.conservationStatus}">Estado</td>
            <td class="actions">
                <a th:href="@{'/species/edit/' + ${s.id}}" class="btn-action btn-edit">✏️</a>
                <form th:action="@{'/species/delete/' + ${s.id}}" method="post">
                    <button type="submit" class="btn-delete">🗑️</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>WildTrace 🐦 2025</p>
</footer>
</body>
</html>